/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
Colors used

Text Color (black): #000;
Primary Color (green): #357b70;
Secondary Color (Orange): #e0b354;
 */

 :root {
    --primary-color: #357b70;
    --secondary-color: #e0b354;
    --dark-grey: #2b2b2b;
  }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body{
    font-size: 16px;
    color: var(--dark-grey);
    line-height: 1.2em;
    font-family: 'Lato', sans-serif;
    text-align:center;
}

p{
    margin: 10px;
}


header{
    background-color: rgb(199, 191, 191);
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
  .main-nav li:first-child {
    margin-right: auto;
  }
  .main-nav a {
    margin: 10px;
    border-radius: 5px;
      display: block;
      padding: 15px;
      text-decoration: none;
  }

  .nav{
      margin:auto 0px;
      font-size: 20px;
  }
 

  li{
      list-style: none;
  }


h1{
    font-size: 50px;
    color: var(--primary-color);
}

.button{
    color: white;
    background-color: green;
    padding: 10px
}

.button:hover{
    background-color: var(--secondary-color);
}

a{
    text-decoration:none;
    color: var(--primary-color);
}


a:hover{
    color: var(--secondary-color);
}

a:active{
    color: var(--secondary-color);
}

table{
    
    max-width: 700px;
    margin: 0 auto;
}

.profile-pic {
    float: left;
    width: 300px;
    max-width: 100%;
    margin-right: 50px;
    margin-left: 20%;
    border-radius: 50%;
  }

  .body-copy{
      margin: 100px 0 0 0;
      text-align: start;
  }

  .page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   
}
 
.footer-social{
    margin-top: 30px;
}

.footer-text{
    padding-top: 100px;
}

.grid__item {
    background-color: lightgray;
  }

  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .button{
    padding: 10px 30px;
}

.button:hover,
.button:focus {
background-color: var(--secondary-color); 
color:var(--dark-grey);
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the button */
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-duration: 0.9s;
         -o-transition-duration: 0.9s;
            transition-duration: 0.9s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
  }
  
  .button:hover,
  .button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }

  .button, button {
    /* overwrites browser defaults */
    /* resets the border */
    border: none;
    display: inline-block;
    /* takes the font from the outer container */
    font-family: inherit;
    /* style button */
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /* width of the border, type, color */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }

  @-webkit-keyframes color-change {
    from {
      fill: var(--secondary-color);
    }
    to {
      fill: #f76414;
    }
    0% {
        fill: var(--secondary-color);
      }
      50% {
        fill: #fcffad;
      }
      100% {
        fill: #f76414;
      }
  }

  @keyframes color-change {
    from {
      fill: var(--secondary-color);
    }
    to {
      fill: #f76414;
    }
    0% {
        fill: var(--secondary-color);
      }
      50% {
        fill: #fcffad;
      }
      100% {
        fill: #f76414;
      }
  }

  .sun {
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-name: color-change;
            animation-name: color-change;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }

  .sun {
    -webkit-animation: 4s color-change infinite alternate linear;
            animation: 4s color-change infinite alternate linear;
  }

  @-webkit-keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }

  @keyframes cloud-move {
    from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
    }
    to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
    }
  }

  .cloud-front {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
  }

  .cloud-back {
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
  }

  @-webkit-keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }

  @keyframes cloud-move-reverse {
    from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
    }
    to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
    }
  }

  @media all and (max-width: 750px){
    /* shared code */
  }

  @media all and (max-width: 500px) {
    .grid {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
    }
  }
  @media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 20px 1fr;
      grid-template-columns: 1fr 1fr;
    }
  }
  @media all and (max-width: 750px) {
    .grid {
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  